@import '../../../styles/abstracts/index';

.stats {
  display: grid;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: px-to-rem(2px);
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    gap: px-to-rem(16px);
  }

  &__item {
    &:first-child .c-stats__stat {
      border-bottom-left-radius: px-to-rem(8px);
      border-top-left-radius: px-to-rem(8px);
    }

    &:last-child .c-stats__stat {
      border-bottom-right-radius: px-to-rem(8px);
      border-top-right-radius: px-to-rem(8px);
    }
  }

  &__stat {
    @include media-breakpoint-only(md) {
      min-height: px-to-rem(232px);
    }
  }

  &__info {
    padding: pad(xsmall) pad(small);
    margin-top: px-to-rem(6px);
    color: $color-botticelli;
    line-height: (24 / 16);
    text-align: left;
  }

  &__info-high {
    color: $color-white;
  }
}
