@import '../../styles/abstracts/index';

.c-source {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: pad(xsmall) pad(small);
  background-color: $color-primary;
  border-radius: px-to-rem(8px);
  line-height: (24 / 16);
  transition: background-color 0.2s;

  &:hover {
    background-color: #212d3a;
    text-decoration: none;

    .c-source__title {
      color: $color-white;
    }

    .c-source__description {
      color: $color-dodger-blue;
    }
  }

  &__title {
    flex-shrink: 0;
    color: $color-white;
    font-weight: 700;
    line-height: (24 / 16);
  }

  &__description {
    @include text-truncate();
    margin-left: gap(small);
    color: $color-dodger-blue;
  }
}
